*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root{
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
}
.lighter-font-weight{
  font-weight: 500;
  font-size: 13px;
}
.text{
  color: var(--very-dark-grayish-blue);
}
.text h5,
.text p{
  padding: 0 7px;
}
.avatar img{
  border-radius: 50%;
  transform: scale(0.3);
}
.img-container .avatar{
  margin: -10px 0;
}
.share-icon{
  transform: scaleX(-1);
  background-color: var(--light-grayish-blue);
  color: var(--very-dark-grayish-blue);
  border-radius: 50%;
  padding: 7px;
}
.toggle-div{
  background-color: var(--very-dark-grayish-blue);
  color: var(--light-grayish-blue)
}

.toggle-div-reply{
  background-color: var(--light-grayish-blue);
  color: var(--very-dark-grayish-blue);
  border-radius: 50%;
  transform: scaleX(-1);
}
.social-icons i{
  padding: 0 7px;
  color: var(--light-grayish-blue);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 375px){
  .img-container{
    position: absolute;
    bottom: 0px;
  }
  .toggle-div{
    width: 90%;
    position: absolute;
    bottom: 55px;
    right: 30px;
    padding: 10px;
    border-radius: 20px;
  }
  .share{
    font-size: 16px;
    letter-spacing: 0.5rem;
  }

}

@media screen and (min-width: 768px){
  .img-container{
    position: absolute;
    bottom: -50px;
  }
}

@media screen and (min-width: 1024px){
  .img-container{
    position: absolute;
    bottom: 200px;
    right: 235px;
  }
  .toggle-div{
    width: 350px;
    border-radius: 20px;
    position: absolute;
    bottom: 300px;
    right: -10px;
  }
  .toggle-div-icon{
    display: none;
  }
  .share{
    font-size: 20px;
    letter-spacing: 1rem;
  }
  .arrow{
    position: absolute;
    bottom: -10px;
    right: 205px;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--very-dark-grayish-blue);
  }
  .text{
    margin: -20px auto;
  }
}

@media screen and (min-width: 1440px){
  .text h5,
  .text p{
    padding-left: 20px;
    padding-right: 150px;
}
  .img-container{
    position: absolute;
    top: 330px;
    right: 450px;
  }
  .toggle-div{
    width: 350px;
    border-radius: 20px;
    position: absolute;
    bottom: 350px;
    right: 200px;
  }
  .toggle-div-icon{
    display: none;
  }
  .share{
    font-size: 20px;
    letter-spacing: 1rem;
  }
  .arrow{
    position: absolute;
    bottom: -10px;
    right: 205px;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--very-dark-grayish-blue);
  }
}